/* -------------------- RESET ------------------------------ */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url('https://services.meteored.com/img/article/luna-llena-del-castor-1701095527820_768.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.911);
}

/* -------------------- BASE ------------------------------ */

.formulario{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: large;
}

.titulo{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
    color: rgb(13, 114, 245);
}

.hover{
    color: rgb(13, 114, 245);
    transition: all 0.3s ease-in-out ;
}

/* -------------------- INPUTS ------------------------------ */

.dataDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    margin: 20px 120px 0px 120px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.664);
}

/* -------------------- FORMULARIO ------------------------------ */

#nombre{
    color: black;
    font-weight: bold;
    background-color: rgb(155, 246, 253);
}

#mail{
    color: black;
    font-weight: bold;
    background-color: rgb(155, 246, 253);
}

::placeholder{
    color: rgba(117, 113, 113, 0.664);
}

#seleccion{
    color: black;
    font-weight: bold;
    background-color: rgb(155, 250, 253);
}

#boton{
    padding: 10px 50px 10px 50px;
    margin-top: 40px;
    background-color: rgba(13, 114, 245, 0.548);
    font-weight: bold;
}